html{
    margin-left: 4%;
}

header{
    margin-left: 4%;
}

app-drawer{
    margin-left: 4%;
}

#movie_player:-webkit-full-screen{
    width: 96% !important;
    object-fit: cover !important;
    position: relative !important;
}

/*#myvideo:-webkit-full-screen {*/
    /*width: 96%;*/
/*}*/

ytd-app {
    margin-left: 4%;
}

.style-scope ytd-masthead
{
    width: 96%;
}

.ytp-chrome-controls
{
    width: 96%;
}
